<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataApp_Aeropuertos.Properties.Settings.AppData_HurtoMotosConnectionString"
      connectionString="Data Source=LAPTOP-IOIJPNF8;Initial Catalog=AppData_HurtoMotos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Data Source=LAPTOP-IOIJPNF8;Initial Catalog=AppData_HurtoMotos;Integrated Security=True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>